.ipynb_checkpoints/
AMR_et_graphes_phrases_2.txt
M1P_adj.svg
M1P_dir.svg
PATM_adj.svg
PATM_dir.svg
RAPDF_adj.svg
RAPDF_dir.svg
__pycache__/
algebre_relationnelle.js
graphe.svg
graphe_mot.svg
plot_subgraph.ipynb
subgraph.png
subgraph.svg
test_alg_relationnelle.html
